<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.metrics">
<metric id="de.pum.swt.ad.nfna1" metric_calculate_class="org.eclipse.emf.refactor.metrics.NFNA1" metric_context="Activity" metric_description="Number of Fork Nodes within an Activity" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NFNA1"/>
<metric id="de.pum.swt.ad.nfna2" metric_calculate_class="org.eclipse.emf.refactor.metrics.NFNA2" metric_context="Activity" metric_description="Number of Fork Nodes within an Activity" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NFNA2"/>
</extension>
</plugin>
